.author__Hname{
    background: linear-gradient(90deg, #D7E1EC 0%, rgba(255, 255, 255, 0.83) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.author__vetiLine{
    width: 2px;
    height: 100%;
    background-color: var(--accent);
    position: absolute;
    top: 3rem;
    left: -1.5rem;
}

.author__container{
    position: relative;
    margin-bottom: 5rem;
    width: 70vw;
    margin-left: 30vw;
    border-radius: 2px;
}

.author__lines{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author__link{
    color: var(--textLight);
}