.saved{
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

.saved__card{
    width: 30vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    text-transform: none !important;
    margin: 1rem 0rem !important;
    color: var(--textLight) !important;
    opacity: .7;
}

.saved__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}