.login{
    // background-color: red;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth__box{
    margin-top: 2rem;
    width: 27vw;
    height: 45vh;
    background: linear-gradient(180deg, #E9E9E9 0%, #F6F6F6 42.8%);
    border-radius: 8px;
    padding: 1rem 1.5rem;

    h2{
        margin-top: 0;
        color: var(--primary);
        font-weight: 700;
    }

    input{
        border: 0;
        padding: 1rem;
        border-radius: 5px;
        background: #D9D9D9;
        margin-bottom: 1rem;
    }

    input:focus{
        outline: none;
    }

    input::placeholder{
        color: var(--primary);
        font-family:  'Oxygen', sans-serif;
    }

    button{
        text-transform: none;
        text-align: center;
        width: 100%;
        font-weight: 400;
        color: var(--primary) !important;
    }

    form{
        display: flex;
        flex-direction: column;
        height: 27vh;
        justify-content:space-evenly;

        button {
            color: var(--primary) !important;
            font-family:  'Oxygen', sans-serif;
            font-weight: 900;
            background-color: var(--accent);
        }
    
        button:hover{
            color: var(--primary) !important;
            background-color: var(--accentDimmed);
        }
    }


}