@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

:root{
  
  --primary: #2A0944;
  --accent: #FEC260;
  --textLight: #fff;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  font-family: 'Balsamiq Sans', cursive;
  color: var(--textLight);
  margin: 0;
  height: 100vh;
}