@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root{
  
  --primary: #2A0944;
  --accent: #FEC260;
  --textLight: #fff;
  --borderWhite: #e5e5e5;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  font-family:  'Oxygen', sans-serif;
  color: var(--textLight);
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.body-noscroll{
  overflow: hidden !important;
  height: 100vh;
}

.mb-0{
  margin-bottom: 0 !important;
}

button{
  background: transparent;
  border: 0;
  color: var(--textLight) !important;
}

.text-center{
  text-align: center;
}