.authors__container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.authors__container form{
    position: relative;

    input{
        width: 70vw !important;
        padding: 1rem 3rem !important;
        border-radius: 30px;
        background-color: transparent;
        font-family: inherit;
        font-size: 1.5rem;
        color: var(--textLight);
        border: 3px var(--borderWhite) solid;
        overflow: hidden !important;
    }

    input::placeholder{
        font-family: inherit;
        font-size: 1.5rem;
        color: var(--textLight);
        opacity: .5;
        position: absolute;
        top: 50%;
        left: 3rem;
        transform: translateY(-50%);
    }

    input:focus{
        outline: none;
    }

    svg{
        position: absolute;
        top: 50%;
        left: 1rem;
        font-size: 1.5rem;
        transform: translateY(-50%);
    }

    .MuiAutocomplete-root{
        width: 70vw !important;
    }

}

.authors__list{

    margin-top: 4rem;


    h2{
        color: var(--accent);
    }

    .authorCards__container{
        width: 70vw;
        margin: 1rem 2rem;
    }

    .authors__buttons{
        display: flex;
        justify-content:space-around ;
        flex-wrap: wrap;
    }

    .authorCard{
        width: 20vw !important;
        height: 6vh;
        margin: .5rem 0;
        text-transform: none;
        background: linear-gradient(180deg, rgba(233, 233, 233, 0.44) 
            0%, rgba(246, 246, 246, 0.44) 42.8%) !important;
        border-radius: 24px;
        color: var(--primary);
        transition: .3s ease-in-out;
    }

    .authorCard:hover{
        background: linear-gradient(180deg, rgba(233, 233, 233, 0.74) 
        0%, rgba(246, 246, 246, 0.64) 42.8%) !important;
    }

    .authors__firstLetter{
        margin-bottom: 2rem;
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .authors__firstLetter a{
        margin: .5rem;
        color: var(--primary);
        background-color: var(--accent);
        opacity: .4;
    }
    .authors__firstLetter a:hover{
        opacity: .9;
    }

}